<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>板块</title>
</head>

<body>

{% if not user %}
    <a href="{% url 'login' %}">登录</a>
{% endif %}

{{plate_name}}

<form method="POST">
    <textarea style="width:300px;height:100px;" name='theme_content'></textarea><br>
    <button type="submit" name="finished article"> 完成 </button>
    {{err_inf}}
    <br>
</form>

{% for theme in themes %}
    {{ theme.user_id }} &nbsp;:&nbsp;
    <a href="{% url 'theme' theme.theme_id %}">{{ theme.theme_name }}</a>
    <br>
{% endfor %}

</body>
</html>