<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>test</title>
    </head>
    <body>
        Hello world
    <table border="1">
        <thead>
        <tr>
            <td>用户名</td>
            <td>密码</td>
        </tr>
        </thead>
        <!-- form是views传过来的字典变量, 注意items后面没有括号 --> 
        {%for name, password in form.items %}
            <tr>
                <td>{{name}}</td>
                <td>{{password}}</td>
            </tr>
        {% endfor %}
    </table>
    </body>
</html>
