<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>话题</title>
</head>

<body>

{% if not user %}
    <a href="{% url 'login' %}">登录</a>
{% endif %}

{{theme_name}}

<form method="POST">
    {% csrf_token %}
    <textarea style="width:300px;height:100px;" name='theme_content'></textarea><br>
    <button type="submit" name="finished article"> 完成 </button>
    {{err_inf}}
    <br>
</form>

{% for reply in replys %}
    {{ reply.user_id }} &nbsp;:&nbsp;
    {{ reply.content }}
    <br>
{% endfor %}



</body>
</html>